#main{
    padding-left:0px;
    margin:0px;
    }
.body{
    background-color: #171010;
    color: #FFFFFF;
    height: max-content;
    
    display: flex;
    flex-wrap: wrap;
}

.move{
    height: 0px;
}


#nav-link{
    color: #FFFFFF;
    padding-top: 20px;
    padding-left: 50px;
    position: relative;
    left: 955px;
    
}

#home{
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    right: 150px;
}

#about{
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    right: 100px;
}

#contact{
    position: relative;
    left: 290px;
    bottom: 23px;
    color: #FFFFFF;
    text-decoration: none;
}
#project{
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    right: 50px;
}
#techstack{
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    right: 10px;
}

#xyz{
    position: relative;
    bottom: 40px;
}


#navbar{
    background-color: #171010 !important; 
}
    
#mercury{
    margin: 0px;
    padding-left: 20px !important;
    padding-top: 5px;
}

#content{
    padding-left: 250px ;
    padding-top: 200px;
    
}

#Hi{
    font-size: 42px;
}
#Hardik{
    width: 550px;
    font-size: 70px;
    letter-spacing: 2px;
}
#Budding{
    font-size: 20px;
    font-weight: lighter;
}


#computer{
    width: 525px;
    position: relative;
    bottom: 500px;
    left: 900px;
}

#insta{
    max-width: 50px;
    margin-left: 120px;
    position: relative;
    bottom: 100px;
    left: 25px;
}
#github{
    max-width: 50px;
}
#linkedin{
    max-width: 50px;
    margin-left: 60px;
    position: relative;
    bottom: 50px;
    left: 15px;
}
#logo-row{
     position: relative;
     bottom:20px;
}

.second_page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.about{
    width: 200px;
}
.Intro{
    width: 900px;
}









