#main{
    padding-left:0px;
    margin:0px;
    }
.body{
    background-color: #171010;
    color: #FFFFFF;
    
}
#okie{
    margin: 10px;
    padding-top: 20px;
    padding-left: 50px;
}

#navbar{
    background-color: #171010 !important; 
}
    
#mercury{
    margin: 0px;
    padding-left: 0px !important;
}

#content{
    padding-left: 300px ;
    padding-top: 200px;

    
}


#insta{
    max-width: 100px;
}


#Budding{
    font-size: 16px;
    font-weight: lighter;
}





